{% extends 'base.html' %}
{% load myfilters %}


{% block content %}
  <form class="payment_request">
      <fieldset disabled>
          <div class="form-row">
              <div class="form-group col-md-3">
                    <label for="{{ form.department.id_for_label }}">Department</label>
                    <input class="form-control" id="department" value="{{payment_request.department}}">
              </div>
              <div class="form-group col-md-3">
                    <label for="{{ form.subdivision.id_for_label }}">Subdivision</label>
                    <input class="form-control" id="subdivision" value="{{payment_request.subdivision}}">
              </div>
              <div class="form-group col-md-3">
                    <label for="{{ form.user.id_for_label }}">User</label>
                    <input class="form-control" id="user" value="{{payment_request.user}}">
              </div>
              <div class="form-group col-md-3">
                    <label for="{{ form.request_date.id_for_label }}">Request Date</label>
                    <input class="form-control" id="request_date" value="{{payment_request.request_date}}">
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                    <label for="{{ form.payment_details.id_for_label }}">Payment Details</label>
                    <textarea class="form-control" id="payment_details" rows="2">{{payment_request.payment_details}}</textarea>
              </div>
              <div class="form-group col-md-6">
                    <label for="{{ form.form_w8ben_w9.id_for_label }}">Form w8ben/w9</label>
                    <textarea class="form-control" id="form_w8ben_w9" rows="2">{{payment_request.form_w8ben_w9}}</textarea>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-2">
                  <label for="{{ form.payment_metod.id_for_label }}">Payment Method</label>
                  {{form.payment_metod|addclass:'form-control'}}
              </div>
              <div class="form-group col-md-2">
                  <label for="{{ form.payment_system.id_for_label }}">Payment System</label>
                  {{form.payment_system|addclass:'form-control'}}
              </div>
              <div class="form-group col-md-2">
                    <label for="{{ form.recipient.id_for_label }}">Recipient</label>
                    <input class="form-control" id="recipient" value="{{payment_request.recipient}}">
              </div>
              <div class="form-group col-md-2">
                    <label for="{{ form.requisits.id_for_label }}">Requisits</label>
                    <input class="form-control" id="requisits" value="{{payment_request.requisits}}">
              </div>
              <div class="form-group col-md-1">
                    <label for="{{ form.amount.id_for_label }}">Amount</label>
                    <input class="form-control" id="amount" value="{{payment_request.amount}}">
              </div>
              <div class="form-group col-md-1">
                  <label for="{{ form.currency.id_for_label }}">Currency</label>
                  {{form.currency|addclass:'form-control'}}
              </div>
              <div class="form-group col-md-2">
                  <label for="{{ form.planned_payment_date.id_for_label }}">Planned Payment Date</label>
                  <input class="form-control datepicker" id="planned_payment_date" value="{{payment_request.planned_payment_date}}">
             </div>
          </div>
          <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="{{ form.compositions_of_payment_negotiations.id_for_label }}">Compositions of payment negotiations</label>
                    <input class="form-control" id="compositions_of_payment_negotiations" value="{{payment_request.compositions_of_payment_negotiations}}">
                </div>
                <div class="form-group col-md-4">
                    <label for="{{ form.ceo.id_for_label }}">CEO</label>
                    {{form.ceo|addclass:'form-control'}}
                </div>
                <div class="form-group col-md-4">
                    <label for="{{ form.fact_payment_date.id_for_label }}">Fact Payment Date</label>
                    <input class="form-control datepicker" id="fact_payment_date" value="{{payment_request.fact_payment_date}}">
                </div>
          </div>
      </fieldset>
      <button type="button" class="btn btn-primary" onclick="window.location.href = '{{payment_request.get_edit_url}}';">Edit</button>
  </form>
{% endblock %}
